.divMobile{
    size: 100pt;
}

.divMobile input{
    height: 7% !important;
    width: 100% !important;
    font-size: 350%;
}

.divMobile #btnAbrirChat{
    height: 7% !important;
    width: 100% !important;
    font-size: 350%;
}

.divMobile h3 label{
    font-size: 250%;
}