.divMobile{
    size: 100pt;
}

.divMobile input{
    height: 7% !important;
    width: 100% !important;
    font-size: 350%;
}

.divMobile #btnAbrirChat{
    height: 7% !important;
    width: 100% !important;
    font-size: 350%;
}

.divMobile input{
    height: 7% !important;
    width: 100% !important;
    font-size: 350%;
}

.divMobile span{
    height: 7% !important;
    width: 100% !important;
    font-size: 350%;
    padding-bottom: 20%;
}


.divMobile h3 label{
    font-size: 250%;
}

.msgErro{
    display: none;
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
}